.formulario{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 80px 20px;
    gap: 2rem;
    
}

.formulario form{
    max-width: 35%;
    padding: 10px 60px;
    background: #F7F7F7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    flex-grow: 1;
}

.formulario h2{
    font-size: 32px;
    font-weight: 400;
    color: #212121;
        
}